    body{
      background: #ECECEC;
      margin:0px;
      color:#333;
    }
    .button{
      text-align: center;
      background: #ECECEC;
      border-radius: 15px;
      padding: 10px 20px;
      display: block;
      font-family: arial;
      font-weight: bold;
      color:#7f7f7f;
      text-decoration: none;
      text-shadow:0px 1px 0px #fff;
      border:1px solid #a7a7a7;
      width: 100px;
      margin-top:10px;
      box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
      -webkit-transition:box-shadow 0.5s;
    }
    .button:hover{
      box-shadow: 0px 2px 1px white inset, 0px -2px 20px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
    }
    .button:active{
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset, 0px -2px 20px white, 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
      background:-webkit-linear-gradient(top, #d1d1d1 0%,#ECECEC 100%);
    }
    td {
      vertical-align:top;
    }
